.root {
	-fx-background-image: url("menu.jpg")
}

.button {
	-fx-background-color:transparent;
	-fx-display:inline-block;
	-fx-text-fill:white;
	-fx-font-family:Arial;
	-fx-font-size:28px;
	-fx-font-weight:bold;
	-fx-padding:8px;
	-fx-text-decoration:none;
}
.button:hover {
	-fx-background-color:#029e21;
	-fx-text-fill:black;
}
