.root {
	-fx-background-image: url("menu.jpg");
	-fx-font-family: "Courier New";
}

.button{
	-fx-background-color:transparent;
	-fx-display:inline-block;
	-fx-text-fill:white;
	-fx-font-size:35px;
	-fx-font-weight:bold;
	-fx-padding: 0 5px;
	-fx-text-decoration:none;
}
.button:hover {
	-fx-background-color:#00c728;
	-fx-text-fill:black;
}



